#root {
  width: 100%;
  text-align: center;
}

.PostItem {
  border: solid 1px;
  border-radius: 1rem;
  box-shadow: rgba(255, 0, 255, 0.2) 0 0 1rem;
  display: flex;
  flex-direction: column;
}

.LoginForm form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.LoginForm form > div {
  display: flex;
  justify-content: right;
  gap: 2rem;
}
